.home {
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
}

.content {
  padding-left: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
  color: var(--color-5);
}

.content h4 {
  margin-bottom: 1rem;
  color: var(--highlight-100);
  font-size: 1rem;
  font-weight: 600;
}

.content h1 {
  color: var(--highlight-200);
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--color-5);
}

.content p {
  margin-bottom: 2rem;
  position: relative;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  padding-right: 2rem;
  z-index: 1;
}

.image img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1rem solid var(--color-5);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  margin: auto;
  display: block;
}

.image p {
  color: var(--color-5);
  margin-top: 0.5rem;
  text-align: center;
}