@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --color-1: #f7faff;
  --color-2: #003cff;
  --color-3: #0040ca;
  --color-4: #00388d;
  --color-5: #00aac0;
  --confirm: #00c070;
  --cancel: #cf5252;
  --alert: #beeb56;
  --black: #000000;
  --white: #ffffff;
  --gray: #818181;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  background: var(--color-1); /* Page background color */
  color: var(--color-5); /* Text color */
}

a{
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif; /* Font family */
  font-size: 1rem; /* Base font size */
}